# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
[Dd]istros/
[Dd]ebug/
[Dd]evelopment/
[Dd]eploy/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# JetBrains Rider
.idea/
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Coverage files
*coverage/ 

# Project-specific
*.jpg